<div class="big-block">
  <h2 id="item-name">{{dog.name}}</h2>
  <img class="item-img" src="{{dog.image}}" />
  {{!-- <h3>Likes: <span id="like-counter">{{dog.likes}}</span></h3>
  <button id="like-btn">Like</button> --}}
  {{#if admin}}
    <button id="delete-btn">Delete</button>
  {{/if}}
  <a href="/edit-dog/{{dog.id}}" class="edit-dog-btn">Edit this dog</a>
</div>
{{! connects this template to a JS file }}
<script src="/dog.js"></script>